# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
.venv/
env/

# Environment variables
.env

# Alembic cache
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Celery
celerybeat-schedule
