# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
env/

# Environment variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Celery
celerybeat-schedule

# User uploads
uploads/

# Node
node_modules/

# Future Upgrades plans

PLANS
